
    .card{
    transition:0.5s;
    cursor:pointer;
    }
    .card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    }
    .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
    }
    .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
    }
    .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
    .card-text{
    font-size: 15px;
    height: 80px; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    
    }
    
    .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
    }
    .card::before {
    transform-origin: left top;
    }
    .card::after {
    transform-origin: right bottom;
    }
    .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
    }


    .menu-urls{
        height: 80px;
    border-bottom: 3px solid #efefef;
    }
    
    .header-2{
        background-color: #ffffff;
        width: 980px;
        margin: 0 auto;
        padding: 16px;
    }
   
    .texto-destaque{
        text-align: center;
    }
    
    .texto-destaque h1{
        font-size: 30px;
        text-transform: uppercase;
        color: #646464;
    }
    
    .texto-destaque p{
    color: #9a9a9a;
    text-align: center;
    font-family: Arial, Verdana, Tahoma, Sans-Serif
    }

    .texto1_projeto
    {
        margin-left: 200px; 
        margin-right: 200px;
    }
    

    @media(max-width: 768px)
    {
        
        .card
        {
            margin-left: 70px;
            height: auto;
            width: 300px;
        }
        .texto1_projeto
        {
            margin-left: 50px; 
            margin-right: 50px;
        }
        .texto2_projeto
        {
            text-align: left;
            margin-left: 50px; 
            margin-right: 20px;
        }
        .img_math
        {
            padding: 50px;
        }
    }
    